.container-chart {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slot-color {
  width: 28px;
  height: 28px;
}

.bg-01 {
  background-color: #CCEAEF;
}
.bg-02 {
  background-color: #FFE6C8;
}
.bg-03 {
  background-color: #DFFFC2;
}

@media (min-width: 700px) {
  .container-chart {
    flex-direction: row;
    gap: 48px;
  }
}

.close-confetti {
  opacity: 1;
  animation: disolve 3s linear both;
}

@keyframes disolve {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.container-header {
  width: 100%;
  max-width: 1440px;
  gap: 16px;
  padding-inline: 16px !important;
}

@media (min-width: 700px) {
  .container-header {
    padding-inline: 24px !important;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .container-header .nav-item a:hover {
    font-weight: 700 !important;
  }

  ul.dropdown-menu--header__services {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    margin-top: 0px !important;
    padding-block: 0px !important;
    padding-left: 8px !important;

    a {
      padding-left: 0 !important;
    }

    a:hover {
      background: transparent !important;
      font-weight: 700;
    }
  }

  .form-control--header__search input {
    margin-block: 16px !important;
  }

  .form-control--header__search > .position-absolute{
    top: 20px;
  }
}

@media (min-width: 992px) {
  ul.dropdown-menu--header__services {
    width: 200px;
  }
  .form-control--header__search > .position-absolute{
    top: 9px;
  }
}

.container-header {
  width: 100%;
  max-width: 1440px;
  gap: 16px;
  padding-inline: 16px !important;
}

@media (min-width: 700px) {
  .container-header {
    padding-inline: 24px !important;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .container-header .nav-item a:hover {
    font-weight: 700 !important;
  }

  ul.dropdown-menu--header__services {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    margin-top: 0px !important;
    padding-block: 0px !important;
    padding-left: 8px !important;

    a {
      padding-left: 0 !important;
    }

    a:hover {
      background: transparent !important;
      font-weight: 700;
    }
  }

  .form-control--header__search input {
    margin-block: 16px !important;
  }

  .form-control--header__search > .position-absolute{
    top: 20px;
  }
}

@media (min-width: 992px) {
  ul.dropdown-menu--header__services {
    width: 200px;
  }
  .form-control--header__search > .position-absolute{
    top: 9px;
  }
}
