.form-container {
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  margin: auto;
}
.form-section {
  margin-bottom: 20px;
}
.submit-button button {
  background-color: #00796b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.submit-button button:hover {
  background-color: #004d40;
}

.container-header {
  width: 100%;
  max-width: 1440px;
  gap: 16px;
  padding-inline: 16px !important;
}

@media (min-width: 700px) {
  .container-header {
    padding-inline: 24px !important;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .container-header .nav-item a:hover {
    font-weight: 700 !important;
  }

  ul.dropdown-menu--header__services {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    margin-top: 0px !important;
    padding-block: 0px !important;
    padding-left: 8px !important;

    a {
      padding-left: 0 !important;
    }

    a:hover {
      background: transparent !important;
      font-weight: 700;
    }
  }

  .form-control--header__search input {
    margin-block: 16px !important;
  }

  .form-control--header__search > .position-absolute{
    top: 20px;
  }
}

@media (min-width: 992px) {
  ul.dropdown-menu--header__services {
    width: 200px;
  }
  .form-control--header__search > .position-absolute{
    top: 9px;
  }
}
